* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     min-height: 100vh;
  }
  
  body {
    font-family: arial;
    background-color: #FF8C00
  }
  
  h1 {
    padding: 10px;
    text-align: center;
    margin: 5px;
  }
  
  .caixa-numero {
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 6px 6px 	#FFD700;
  }
  
  .number {
    padding: 10px;
    height: 35px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px
  }
  
  label {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin: 10px
  }
  
  #convert-btn {
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    width: 100px
  }
  
  #output {
    color: black;
    font-size: 35px;
    margin: 20px;
    font-family: arial
  }
  
  footer {
    text-align: center;
    margin: 10px
  }